<!-- <ul class="nav nav-tabs">
  <li class="nav-item"
  (click)="activeLink = 'Link1'">
    <a class="nav-link " href="#"
    [class.active]="activeLink=='Link1'">Link 1</a>
  </li>

  <li class="nav-item"
  (click)="activeLink = 'Link2'">
    <a class="nav-link" href="#"
    [class.active]="activeLink=='Link2'">Link 2 </a>
  </li>

  <li class="nav-item"
  (click)="activeLink='Link3'">
    <a class="nav-link" href="#"
    [class.active]="activeLink =='Link3'">Link 3 </a>
  </li>
   
</ul>

<div [ngSwitch]="activeLink">
    <div *ngSwitchCase="'Link1'">Link 1 content</div>
    <div *ngSwitchCase="'Link2'">Link 2 content</div>
    <div *ngSwitchCase="'Link3'">Link 3 content</div>
  </div> -->

  

  <form >
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" required type="text" minlength="3" maxlength="16" id="firstName" ngModel name="firstName" #firstName="ngModel" (change)="log11(firstName)">
      <div class="alert alert-danger" *ngIf="firstName.touched ">
        <div *ngIf="firstName.errors.required ">
            First Name is Requierd
        </div>
        <div *ngIf="firstName.errors.minlength">
          First Name is must be at least  letters
       </div>
       <div *ngIf="firstName.errors.maxlength ">
        First Name is must be at most 10 letters
     </div>
       </div>
    </div>  

    <div class="form-group"> 
      <label>Message</label>
      <textarea class="form-control" name="" id="Message" cols="30" rows="10"></textarea>
    </div>
    <button class="btn btn-primary">Click</button> 
  </form>
